.header {
  height: 100px !important;
  background-color: var(--blue-dark);
  display: flex;
  align-items: center;
}

.header .main-logo {
  height: 50px;
  width: 50px;
  margin-inline-start: 1rem;
}
